.footer-bottom{
    color: blanchedalmond;
    background-color: black;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
    background-color: black;
}
