.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: black;
    color: blanchedalmond;


}
.footer-content h3{
  font-size: 1.8rem ;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
  
  
}
.footer-content p{
max-width: 500px;
margin: 10px auto;
line-height: 28px;
font-size: 14px;

}