.container-fluid{
    background-color: blue;
    text-decoration: underline;
}
.navbar-collapse{
    display: flex;
    justify-content: flex-end;
    padding-right: 20%;
    text-decoration: underline;
}
.nav-item{
    padding-right: 50%;
    text-decoration: underline;
}
.navbar{
    background-image: url('../imagenes/fondito.jpg');
    text-decoration: underline;
}