#producto{
    display:flex;
    flex-wrap: wrap;
    
    justify-content: space-between;
   
}
.card{

    display: inline-block;
    margin : 0.5rem;

}
.container{
    grid-template-columns: 30% 30% 40% ;
}